select {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--secondary-yellow);
  border-radius: 4px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  margin: 8px 16px 0 0;
  padding: 8px;
  width: 200px;
}

select:hover {
  border: 1px solid var(--yellow);
}

select:focus {
  border: 1px solid var(--yellow);
  outline: none;
}
