#table-wrapper {
  max-height: 480px;
  overflow: auto;
}

table {
  background-color: var(--secondary-background-color);
  border-collapse: collapse;
  text-align: left;
}

tr {
  border-bottom: 1px solid var(--background-color);
}

td, th {
  height: 120px;
  min-width: 180px;
  padding: 0 28px;
}

th {
  color: var(--yellow);
}
