button[ type = 'submit' ] {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--secondary-yellow);
  border-radius: 4px;
  color: var(--yellow);
  padding: 20px;
}

button[ type = 'submit' ]:hover {
  background-color: var(--yellow-filter);
  border: 1px solid var(--yellow);
}

button[ type = 'button' ] {
  background-color: var(--background-color);
  border: none;
  border-radius: 4px;
  color: rgb(244, 67, 54);
  margin-left: 16px;
  padding: 8px;
}

button[ type = 'button' ]:hover {
  background-color: rgba(244, 67, 54, 0.222);
}
